
/* movie */

.movie_item {
 padding: 0 10px 20px;
 width: 13%;
}

@media screen and (max-width : 1680px) {
  .movie_item{
      width: 15%; 
  }
}

.movie_img{
  width: 100%;
  position: relative;
}

.movie_img:hover .movie_imgBox{
  opacity: 1;
}

.movie_img img{
  width: 100%;
  margin-bottom: 10px;
}

.movie_imgBox{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
  background-color: rgba(000, 000, 000, 0.2);
  opacity: 0;
}

.movie_imgWrap{
  margin: 0 auto;
}

.movie_imgRating{
  font-family: 'Vitro_core';
  font-size: 26px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.movie_imgBtn{
  font-family: 'Vitro_core';
  display: block;
  text-align: center;
  line-height: 30px;
  width: 200px;
  height: 30px;
  background-color: #00ff37;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
  margin: 0 auto;
}


.movie_title{
  max-width: 220px;
  font-family: 'SBAggroB';
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .movie {
  background-color: rgb(204, 76, 76);
  margin-bottom: 70px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #adaeb9;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie_img {
  position: relative;
  top: -50px;
  max-width: 150px;
  width: 100%;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.movie_title,
.movie_year {
  margin: 0;
  font-weight: 300;
  text-decoration: none;
}

.movie_title a {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
  text-decoration: none;
}

.movie_genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.movie_genres li,
.movie_year {
  margin-right: 10px;
  font-size: 14px;
} */
